@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 30px;
}

a {
  color: #00B7FF;
}

.label {
  margin: 0px 3px;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}
.top-buffer { 
  margin-top: 30px;
  margin-bottom: 30px
}
.highlightme { background-color:#FFFF00; }