.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 30px;
}

.col1{
    background: #5C7080;
}

.col2{
    background: #6BC0FF;
}

.col3{
    background: #E8AA4C;
}

.col4{
    background: #FF384E;
}
.highlightme { background-color:#FFFF00; }
body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}

ul.header li {
  list-style-type: none;
  margin: 0;
}
ul.header {
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.active {
  background-color: #0099FF;
}